<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a10118328_mrafiavisina_uts">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Diary App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.10118328_MRafiAvisina_UTS">
        <activity android:name=".MainView"/>
        <activity
            android:name=".MainActivity"
            android:label="Diary App"
            android:theme="@style/Theme.10118328_MRafiAvisina_UTS.NoActionBar" />
        <activity android:name=".EditActivity" />
        <activity android:name=".AddActivity" />

        <activity android:name="SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>